
@tailwind base;
@tailwind components;
@tailwind utilities;
*{

    /* color: black; */
    font-family:"monospace";
}

body{
    position: relative;
    color: #bbb;
    /* font-family:'Constantia'; */
    /* font-family: 'Oswald'; */
    font-weight: 300;
    line-height: 20px;
    overflow-x: hidden;
}
body::after {
    content: '';
    display: block;
    position: fixed;
    inset: -50%;
    z-index: -2;
    /* background-color: #040404; */
    transition: background-color 0.6s ease-out;

}
/* body::before{
    background-color: #686767;
} */
/* cube */
.main{
    position: fixed;
    bottom:-200px;
    right: 10px;
}
.cube{
        /* position: sticky;
        top: 0;
        height: 100vh; */
        height: 100vh;
    }
/* Logo */
.logo{
  width: 250px;
  height: 200px;
  cursor: pointer;
}
/*Service Box */

@layer utilities{
.box {
    position: relative;
    background: rgb(189, 188, 188);
    color: white;
}
.tool-box{
  background-color: rgb(236, 232, 232);
}

.tool-box::before,.box::before,
.tool-box::after,.box::after {
    content: "";
    position: absolute;
    inset: -2px;
    z-index: -1;
}

.box::before,
.box::after {
    background: conic-gradient(from var(--angle), black, black, black, red, red);
}

/* .tool-box::before,
.tool-box::after {
    background: conic-gradient(from var(--angle), rgba(255, 166, 0, 0.667), rgba(255, 166, 0, 0.667), rgba(255, 166, 0, 0.667), #060c21, #060c21);
} */

.tool-box::after, .box::after {
    z-index: -2;
}

.box:hover::before,
.box:hover::after {
    animation: glowing-border 1s  linear infinite;
}

.box:hover::after {
    animation: glowing-border 1s linear infinite, blur-effect 1s linear infinite;
}

.item-desc{
  color: rgb(219, 218, 218);
}
.active-desc{
  color: black;
}
@property --angle {
    syntax: "<angle>";
    initial-value: 53deg;
    inherits: false;
}

@keyframes glowing-border {
    from {
        --angle: 53deg;
    }

    to {
        --angle: 413deg;
    }
}
.icons{
transform: rotate(3.142rad);
}

}
::-webkit-scrollbar{
    display: none;
}

 .menu-var{
   display: flex;
   align-items: center;
   justify-content: center;
    border: 1px solid #ce5311;
    border-radius: 5px;
    padding: 10px 5px;
   }
   .menu-bars{
    display: flex;
    align-items: center;
    gap: 10px;
    padding:10px;
    width: 100%;
    max-height: 10px;

   }

   /* NAVBAR */
  .nav-container{
   justify-content: center;
   align-items: center;
   margin: 0;
   gap: 10px;
   padding: 30px 0;
   }
/* .nav-menu-items{
    height: 100vh;
    background-color: #0c63e7;
} */
.navbar {
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.nav-menu {
  background-color: black;
  z-index: 999;
  width: 300px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  transition: 850ms;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
}
.nav-menu.active {
  right: 0;
  display: block;
  transition: 550ms;
}
.nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  min-height: 60px;
}
.nav-text-two{
  padding: 12px 0px 8px 16px;
  list-style: none;
  min-height: 60px;
}
.service-nav{
 padding: 20px 20px;
  list-style: none;
  height: 60px;
  /* margin-bottom: 10px; */
}

.service-nav a,.nav-text a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-text a:hover {
  color:#06ffff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

/* DropDown */

.dropbtn {
  border: none;
  
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content-two {
  display: none;
  position: absolute;
  top: -300%;
  left: 100%;
  background-color: #ffffff; 
  min-width: 160px;
  min-height: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  min-height: 300px;
  top: 0px;
  left: -500%;
  background-color: #ffffff; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 999;
  padding: 10px;
  /* background-color:#272626 */
  
}

.dropdown-content a, .dropdown-content-two a {
   /* color: white; */
  padding: 10px;
  text-decoration: none;
  display: block;
  font-size: 14px;
}
.dropdown-content a, .dropdown-content-two a{
font-size: 16px;
}
.dropdown-content a:hover, .dropdown-content-two a:hover{
color:#ce5311;
}

.dropdown:hover .dropdown-content,.dropdown:hover .dropdown-content-two {display: block;}


/* ABOUT */
@media (max-width:700px) {
  .menu-nav{
    display: flex;
  }
}

@media (min-width:0px) and (max-width:767px) {
  .top-div{
   max-width: 100vw;
  }
  .header-div{
    display: flex;
    margin: 0 5px 0 5px;
    justify-content: space-between; 
  }
  .h-service{
    width: 100%;
  }
  .header-nav{
    display: none;
  }
  .footer-p {
    display: none;
  }
  .footer{
    padding: 5px;
  }
  .footer-div-1{
    padding: 5px;
  }
  .hero-sec h1{
    font-size: 50px;
    width: 100%;
  }
  .home-service{
    flex-direction: column;
    margin: 50px 20px 40px 20px;
  }
  .tech-stack, .abt{
    margin: 20px;
  }
  .mission{
    gap: 2px;
    padding: 5px;
  }
  .vission{
    gap: 5px;
  }
  .goal{
    gap:10px
  }
  .indu h2{
    text-align: center;
  }
  .team-m{
    margin: 5px;
    width: 100%;
  }
  .members{
    flex-direction: column;
    margin-top: 20px;
    gap:100px
  }
  .members div img{
    width: 80%;
  }
  .contact-f{
    margin-top: 100px;
    margin-bottom: 100px;
  }
  .contact-f > div{
    margin:20px;
    width: 100%;
  }
  .projects{
    margin-left: 20px;
    margin-right: 20px;
  }
  .stack-title{
    width: 32%;
  }
  .stack-title h2{
    font-size: 16px;
    padding: 2px;
  }
  .stack-list ul {
    width: 78%;
    grid-template-columns: 1fr 1fr;
    gap: 2px;
  }
  .stack-list ul li{
    font-size: 10px;
    gap: 2px;
  }
}
@media (min-width:0px) and (max-width:767px){
  .sm-p{
    gap: 2px;
  }
  .sm-p li{
    font-size: 12px;
  }
}